<div class="container">
  <div class="row">
    <div class="col-sm-6">
      1 of 2
    </div>
    <div class="col-sm-6">
      1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      1 of 3
    </div>
    <div class="col-md-4">
      1 of 3
    </div>
    <div class="col-md-4">
      1 of 3
    </div>

  </div>
 
 <div class="col-xs-9">

<form (ngSubmit)="onSubmit()">
  <div class="panel-group">
	<div class="row">
	 
    <label for="firstName">Add Title</label>
	<input type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
  </div>
   <div class="row">
     <mat-radio-group>
     <mat-radio-button value="1">Option 1</mat-radio-button>
     <mat-radio-button value="2">Option 2</mat-radio-button>
     </mat-radio-group>	
   </div>	

    <div class="row">
     <div class="col-sm-6">
       <label for="firstName">Mark</label>
	<input type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    <div class="col-sm-6">
     <label for="firstName">Model</label>
	<input  type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    <div class="col-sm-6">
       <label for="firstName">Transmission</label>
	<input type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    <div class="col-sm-6">
     <label for="firstName">Drivetrain</label>
	<input  type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    <div class="col-sm-6">
       <label for="firstName">Body Type</label>
	<input type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    <div class="col-sm-6">
     <label for="firstName">Fuel Type</label>
	<input  type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    
     <div class="col-sm-6">
       <label for="firstName">Year</label>
	<input type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    <div class="col-sm-6">
     <label for="firstName">Colour</label>
	<input  type="text" class="form-control" id="firstName" name="firstName"/>
    </div>

     <div class="col-sm-6">
       <label for="firstName">Kilometers</label>
	<input type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
    <div class="col-sm-6">
     <label for="firstName">No. of Doors:</label>
	<input  type="text" class="form-control" id="firstName" name="firstName"/>
    </div>
  
   </div>


    <div class="col-sm-6">
    	<div class="form-group">
    		<label for="carmake"> select car Make</label>
    <select class="form-control" name="carmake" [(ngModel)]="carad.make">
          <option [ngValue]="null" disabled>Choose your car make</option>
          <option *ngFor="let crm of allCarmake" [ngValue]="crm.makeId">
           {{ crm.makeName }}
          </option>
     </select>
 </div>
  <div class="form-group">
    <label for="exampleSelect1">Example select</label>
    <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


 			<mat-grid-list cols="20" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
						<button class="mat-primary" mat-raised-button type="submit">Submit Ad</button>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
				</mat-grid-tile>
			</mat-grid-list>
    </div>

</form>
</div>
</div>