<div class="container">
	

<div>
	
	
</div>

<div class="table-responsive" style="margin-top: 30px;">

<div *ngFor="let caraditem of caradList| paginate:{ itemsPerPage:10, currentPage:p}">  
 

<div class="adcontainer" data-id="1222225119">
<!-- <a href="javascript:;" class="fcbx_ajouterFavoris ajouterAuxFavoris ergov3-favoris " url="https://www.paruvendu.fr/auto-moto/popincommunfo/default/fcbx?boxtype=ajouteramaselection&amp;id_annonce=1222225119&amp;id_user=" onclick="xt_click(this,&#39;C&#39;,xtn2,&#39;Ajout-Selection-Detail&#39;,&#39;A&#39;);" title="Ajouter aux favoris">&nbsp;</a> -->
<a [routerLink]=""  (click)="onSelect(caraditem)" title="BMW Série 3 46100 Figeac">
<div class="adimage">
<img src="{{serverPath}}/image/carad/{{caraditem.id}}/{{caraditem.id}}1.png" style="max-width:224px;max-height:150px;" alt="{{serverPath}}/image/carad/{{caraditem.id}}/{{caraditem.id}}1.png" title="BMW Série 3 3000 46100 Figeac" onerror="this.src=&#39;https://static.paruvendu.com/201712281440/communfo/img/sitemobile/novisu-224x150.jpg?3&#39;">

</div>
<div class="adetails">
<div class="flol" >
<h3 style="padding:0 !important;">
{{caraditem.adtitle}} : BMW Série 3
</h3>
<p class="infoVers">{{caraditem.model}} 318i</p>
<cite>
{{caraditem.body}} - {{caraditem.year}} - {{caraditem.kilometers}}
 Berline - Essence - Année 1998 - 173 200 km
</cite>
<h3 class="lo">
Figeac
(46100)
</h3>
</div>
<div class="ergov3-priceannonce">
{{caraditem.price}} 3 000 $
</div>
<div class="fin"></div>
<cite class="texte">
BMW 318i * (7 CV), Berline, Essence, Octobre/1998, 173 200 Km , 4 portes,...
</cite>
</div>
<div class="fin"></div>
<div class="ergov3-bottomannonce ergov3-bottomannmini">
<div class="ergov3-voirann">
<div class="ergov3-rightmini">
<span>(Particulier)</span>
</div>
<div class="fin"></div>
<span >Voir l'annonce</span>
</div>
<div class="fin"></div>
</div>
</a>
</div>
 <div class="clear"></div>    
 </div>
<pagination-controls (pageChange)="p = $event"
previousLabel=""
                      nextLabel="">
                        
</pagination-controls>

</div>
</div>
			