<div class="page-top" style="width:100%; height:20px; background-color:#9AB7D5 "></div>

<nav class="navbar navbar-default navbar-inverse">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand pointer" routerLink="/home">
			Home
		</a>
	</div>

	<div id ="navbar">
		<ul class ="nav navbar-nav navbar-left">
			<li><a mat-button routerLink="/caradList">Car list</a></li>
			<form (ngSubmit)="onSearchByTitle()" class="navbar-form">
				<div class="form-group">
					<input type="text" name="searchByTitle" [(ngModel)]="keyboard" class="form-control" placeholder="Enter Key words"/>
				</div>	
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li>
		<a mat-button routerLink="/submitCaradd">Submit add</a>
		</li>
		<li *ngIf="!loggedIn">
			<a mat-button routerLink="/myAccount">My Account</a>
		</li>	
        <li *ngIf="loggedIn">
			<a mat-button routerLink="/shoppingCart">Shopping Cart</a>
		</li>
		<li *ngIf="loggedIn">
			<a mat-button routerLink="/myProfile">My Profile</a>
		</li>
		<li *ngIf="loggedIn">
			<a mat-button (click)="logout()">Logout</a>
		</li>
		</ul>
	</div>
</div>

</nav>